<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot Thymeleaf Hello World Example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{//fonts.googleapis.com/icon?family=Material+Icons}" rel="stylesheet">
    <link th:href="@{/css/materialize.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link th:href="@{/css/style.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>

<div>

    <ul id="dropdown1" class="dropdown-content">
        <li><a href="#!">one</a></li>
        <li class="divider"></li>
        <li><a href="#!">two</a></li>
        <li class="divider"></li>
        <li><a href="#!">three</a></li>
    </ul>

    <nav>
        <div class="nav-wrapper container"><a href="#" class="brand-logo">Logo</a>
            <ul class="right hide-on-med-and-down">
                <li><a th:href="@{/malls}">Malls</a></li>
                <li><a th:href="@{/stores}">Stores</a></li>
                <li><a class="dropdown-button" href="#!" data-activates="dropdown1">
                    <i class="material-icons right">arrow_drop_down_circle</i></a></li>
            </ul>

            <ul id="nav-mobile" class="side-nav">
                <li><a th:href="@{/malls}">Malls</a></li>
                <li><a th:href="@{/stores}">Stores</a></li>
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
    </nav>

    <div>
        <h1>Spring Boot Web Thymeleaf Example</h1>
        <h2>
            <span th:text="'Message: ' + ${message}"></span>
        </h2>

        <a th:href="@{/malls}" class="btn waves-effect waves-light orange">Malls</a>
        <a th:href="@{/stores}" class="btn waves-effect waves-light orange">Stores</a>
    </div>

</div>

<!--  Scripts-->
<script th:src="@{//code.jquery.com/jquery-2.1.1.min.js}"></script>
<script th:src="@{/js/materialize.js}"></script>
<script th:src="@{/js/init.js}"></script>

</body>
</html>